html,
body {
  height: 100%;
}

:root {
  background-color: theme("colors.slate.200");
  color: theme("colors.sfblue.300");
}

.join > li > button.active,
.join > li > button:focus,
.join > li > button:hover,
.join > li > button:active {
  background-color: theme("colors.sfgreen.300");
  color: inherit;
}

/* side bar hover */
.join > li > a:hover {
  color: theme("colors.sfred.200");
  background-color: inherit;
}

.btn-disabled {
  @apply bg-slate-300;
}


button.nendo-active {
  background-color: hsl(1, 64%, 72%);
}
a.nendo-active {
  background-color: hsl(1, 64%, 72%);
}
button.tag-active {
  background-color: #78C3C6;
}
div.flex.gap-2 > button.btn.btn-sm:hover {
  background-color: hsl(1, 54%, 72%);
}