html,
body {
  height: 100%;
}

:root {
  background-color: theme("colors.slate.200");
  color:hsl(215, 31%, 32%);
}

.join > li > button.active,
.join > li > button:focus,
.join > li > button:hover,
.join > li > button:active {
  background-color: theme("colors.sfgreen.300");
  color: inherit;
}

/* side bar hover */
.join > li > a:hover {
  color: theme("colors.sfred.200");
  background-color: inherit;
}

.btn-disabled {
  background-color: hsl(215, 31%, 32%)
}
/* 
button.nendo-active {
  background-color: hsl(1, 64%, 72%);
}
a.nendo-active {
  background-color: hsl(1, 64%, 72%);
}
button.tag-active {
  background-color: hsl(182, 41%, 62%);
} */

div.flex.gap-2 > button.btn.btn-sm:hover {
  background-color: hsl(1, 54%, 72%);
}

.nendo-active {
  background-color: theme(colors.sfred.100);
}

.nendo-navigating {
  background-color: theme(colors.sfgreen.200);
}


.tags-active {
  background-color: theme(colors.sfgreen.100);
}
.tags-navigating {
  background-color: theme(colors.sfgreen.200);
}

.segments-active {
  background-color: theme(colors.sfyellow.100);

}
.segments-navigating {
  background-color: theme(colors.sfyellow.200);
}

.extensions-active {
  background-color: theme(colors.sky.100);

}
.extensions-navigating {
  background-color: theme(colors.sky.200);
}

.none-active {
  background-color: theme(colors.sky.300);

}


.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}